.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}
.page{
	bottom:0;
	top:0;
	position:absolute;
	width:100%; 
}

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

.ng-enter {animation: slideInRight 0.3s both ease-in; z-index: 1;}
.ng-leave {animation: slideOutLeft 0.3s both ease-in; z-index: 0;}

.addData td{
  padding: 5px;
}