<div >
	<img src="vinayak/app/img/banner1.jpg" alt="" class="banner-wrapper">
</div>


<div class="panel panel-success" style="margin-top:3%;">
	<div class="panel-heading"><h4>About Us</h4></div>
		<div class="panel-body">
			<span>VINAYAK HOSPITAL, a dream come true of 
			Sanatan Dharam Public Trust (Regd.), 
			Model Town was ...</span>
		</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading"><h4>Our Vision</h4></div>
		<div class="panel-body">
			<span>To provide a <b><i>'State of the Art'</i></b> health care 
			facility for common man at affordable cost.</span>
		</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading"><h4>Our Aim</h4></div>
		<div class="panel-body">
			<span><b><i>'Patient Friendly'</i></b> services with smile to provide 
			<b><i>'Tender Loving Care'</i></b>.</span>
		</div>
</div>

<div class="panel panel-success">
	<div class="panel-heading"><h4>Our Commitment</h4></div>
		<div class="panel-body">
			<ul>
				<li>Standardized Quality Patient Care</li>
				<li>Personalized Human Touch</li>
				<li>Comprehensive Care & Safety</li>
			</ul>
		</div>
</div>

<style>
.panel-body ul li{
	list-style: disc;
	margin-left: 15px;
}

</style>