<style type="text/css" media="screen">
	#facility li{
		list-style: disc;
		margin: 10px;
	}
</style>

<div class="col-md-12 contentDiv" style="min-height:500px;padding: 25px 10px;clear:both;">
	<h2>Facilities</h2>
	<ul id="facility">
		<li>Daily Free General OPD in all major specialities</li>

		<li>Free Casualty Services with round the clock Emergency &amp; Trauma Center</li>

		<li>Air Conditioned Patient Transfer Ambulance</li>

		<li>Private Consultation by appointment</li>

		<li><strong>Indoor Services:</strong> General Ward, Economy, Semi Private, Private &amp; Deluxe Rooms</li>

		<li><strong>X-Ray:</strong> 500 MA, Ultrasound with Transrectal/Vaginal &amp; Soft Tissue Probes (Siemens &amp; Wipro GE) with Digital Laser Printing</li>

		<li><strong>Laboratory:</strong> Fully automatic Haematology Counter, Bio-Chemistry Analyser, Blood Gases Analyser &amp; facilities of complete Bacteriology &amp; Histopathology (EQAS - UK Certified Quality Standard)</li>

		<li><strong>Non-Invasive Cardiac Lab:</strong> Cardiac Echo &amp; Colour Doppler, Treadmill, PFT etc.</li>

		<li><strong>Dialysis:</strong> With modern B-Brawn Dialog + (Germany) 3 Machines</li>

		<li><strong>Intensive Care Unit (ICU):</strong> With all life-support systems &amp; Multiparameter (ECG, SPo2, NIBFD, Respiration &amp; Temp.) (Schellers) Ventilator (Savina) etc.</li>

		<li>Three Operation Theaters: with Laminar flow, Hepafilters &amp; C-Arm (Siemens) facility for all Endoscopic, Laparscopic, Hip &amp; Knee Replacement &amp; Cataract Operation under Microscope with Phaco and IOL etc.</li>

		<li>Ultra Modern Labour Room and birthing beds with CTG monitoring</li>

		<li>NewBorn Intensive Care Unit (NICU) - Level II, Resucitation Kit, Phototherapy etc.</li>

		<li>24 hours Pharmacy</li>
	</ul>
</div>